<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
</head>
<body>
    <form class="container" action="/submit" method="post">
        <div id="book_info">
            <input type="text" name="isbn" placeholder="Please Enter ISBN number"><br>
            <input type="text" name="title" placeholder="Please Enter BOOK TITLE"><br>
            <input type="text" name="author" placeholder="Please Enter Author Name"><br>
            <input type="text" name="notes" placeholder="Notes Here">

            <button type="submit"> SUBMIT</button>
        </div>

    </form>
    
</body>
</html>